<footer class="row">
  <div class="columns large-12">
    <hr>
    <div class="row">
      <div class="columns large-6">
        <p>&copy; Hui, Ryan and Will </p>
      </div>
      <div class="columns large-6">
        <ul>
          <li><a href="http://generalassemb.ly">Coffeeshops of Bondi</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>