<div class="row">
  <div class="columns large-12">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name"></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li class="right"><%== intellinav %></li>

      </section>
    </nav>
  </div>
</div>